#wrapper {
    background-color: #282a36;
}

#header {
    color: #6272a4;
}

#footer {
    color: #f8f8f2;
}

.link {
    color: #8be9fd;
}

.content {
    color: #f8f8f2;
    font-size: 1.1em;
}

.content a {
    color: #bd93f9;
}

.content blockquote {
    border-left-color: #f8f8f2;
}

.content p {
    font-size: 1.2em;
    text-align: left;
}

.content ol {
    font-size: 1.2em;
}

.content ul {
    font-size: 1.2em;
}

h1 {
    color: #6272a4;
}

span {
    color: #f8f8f2;
}

h2 {
    color: #bd93f9;
}
